.gbs{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 160px;
    color:#AC3B61;
}

.wm1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 30px;
   font-stretch:extra-expanded;
   /* width:70px */
}

.cbt{
    text-align: center;

}

.bt{
    height: 40px;
    width:70px;
}